.login-form{
    border: 1px solid grey;
    padding: 1rem;
    border-radius:.5rem;
    margin-inline:auto;
    width: 30%;
    min-width: 350px;
    display: flex!important;
    flex-direction: column;
    margin-block:5rem;
    height: fit-content;
    >h1{
        align-self: center!important;
    }
}

.login-form>form{
    display: flex;
    flex-direction: column;
    align-items: center!important;
}

.login-form>form>.row-row{
    width: 100%;
    align-self: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column!important;
}

.button-wrapper-second{
    display:flex;
    justify-content: space-around;
    >.input-btn:nth-child(2){
        margin: 0!important;
    }
}

@media (min-width:768px){
    .login-form>form>.col-md-6{
        max-width:100%!important;
    }
}

.redirect-link{
    align-items: end;
}